/* * {
  border: 1px solid black;
} */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
#root {
  width: inherit;
  height: inherit;
}
.app {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.navigation-pane {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}
.navigation-pane ul {
  width: fit-content;
  height: fit-content;
  list-style-type: none;
  padding: none;
  padding-left: 20px;
}

.navigation-item-modification-wrapper {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.navigation-item-modification-button {
  /* use opacity for transition as visibility does not work */
  opacity: 0;
  transition: 0.125s linear;
}
.navigation-item-modification-wrapper:hover .navigation-item-modification-button {
  opacity: 1;
}

.navigation-item {
  --height: fit-content; /* this css right here makes it so that the tree actually shows its children without overlap*/
  --width: 100%;

  border: 1px solid black;
  
  /* uth rendering */
  width: var(--width);
  height: var(--height);
}

.about-to-contain .navigation-item-modification-wrapper:after {
  --line-height: 1px;
  --distance-from-bottom: 5px;
  --line-color: blue;
  --indention: 5px;
  
  /* basics for the :after to display */  
  content: '';
  display: block; 

  /* all the under the hood calculations to render the item */
  height: var(--line-height);
  margin-top: calc(var(--height) + var(--distance-from-bottom));
  background: var(--line-color);
  width: calc(var(--width) - var(--indention));
  margin-left: var(--indention);
}